#selectedProject {
	.selection {
		font-family: Poppins;
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		line-height: 20px;
		color: #565656;
	}
	.project-title {
		font-family: Poppins;
		font-style: normal;
		font-weight: 600;
		font-size: 20px;
		line-height: 20px;
		color: #565656;

		width: 300px;
	}
	.come-here {
		font-family: Poppins;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		line-height: 15px;
		color: #565656;
		width: 300px;
	}
}
